* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Volkhov', serif;
}

.dropdown-toggle::after {
    content: none;
}


/* css header */

header {
    height: 90px;
    z-index: 9999;
}

.header .navbar-collapse {
    flex-grow: unset;
}

.header .navbar-brand {
    color: #fb811e;
}

.header i.fa-leaf {
    font-size: 20px;
    left: 55px;
}


/* css banner  */

.banner img {
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

.slide_banner .slick-dots {
    bottom: 20px;
}

.slide_banner .slick-dots li.slick-active button:before {
    color: #fb811e;
    opacity: 1;
}

.slide_banner .slick-dots li button:before {
    font-size: 14px;
    color: #fff;
    opacity: 1;
}

.slick-dots li {
    margin: 3px;
}